/* ****** reseting browerser's defaults ****** */


*{  /*universal selector selects all elements*/
margin-left: 0em;
padding: 0em;
border:none;

}
#wrapper{
max-width: 1200px;
margin-left: auto;
margin-right: auto;
}

 header{
height: 432px;
padding:1em 2em 2em 4em;
font-family: sans-serif,inter;

background:
linear-gradient(90deg, rgba(0,0,0,1) 0%,
rgba(0,0,0,1) 48%, rgba(0,0,0,0) 55%, rgba(255,255,255,0) 100%),
url("images/bg.jpg") no-repeat top right;
 }
/* color:black;
 text-decoration: none;
 }

 a:visited{
 color:black;
 text-decoration: none;
 }

 a:hover{
 color:darkRed;
 text-decoration: underline;
 }

 a:active{
 color:darkRed;
 text-decoration: underline;
 }
*/

#watch{
line-height: 1.5em;

}

header a{
color:white;
text-decoration: none;
border: solid 5px darkRed;
border-radius: 5px;
padding:5px 10px;
margin-top: 4em;
margin-left: 2em;
display: inline-block;
font-size: 1.3em;
background-color: darkRed;
}
#watch:hover{
background-color: grey;
border:solid 5px grey;
text-decoration: underline;
}

svg{
margin-right: 0.5em;

}
header p{
width:250px;
color:white;
font-size: 1em;
line-height: 2em;
margin-bottom: -1em;
width:45%;
display: flex;
flex-wrap: wrap;

}

h1 img{margin-left:-0.5em;
  width:44%;
display: flex;
flex-wrap: wrap;
}

nav{
  background-color: lightGrey;
  padding:0.1em;
  font-size: 1.1em;



}

nav li{
display:inline-block;
margin-left:0.5em;
font-family: sans-serif,inter;
border-right:solid 1px black;
margin-left: 0.23em;
/*padding-right: 2em;*/

}

nav li:last-child{
  border:none;
}

nav a{
  color:black;
  text-decoration: none;
  width:100px;
padding-bottom: 1em;
padding:1em;
}

nav a:hover{
  color:darkRed;
border-bottom: solid 3px darkRed;

}
main{
  font-family: sans-serif,inter;
  padding:0.5em;
  padding-top: 2em;
  padding-bottom: 6em;
  background:url("images/group5.png") no-repeat top left /cover;
padding-left: 1.4em;
padding-right: 1.4em;
}

.col{
  width:50%;
  float:left;
  margin-right: 2%;
}

footer{clear:both;
padding:0.5em;
font-family: sans-serif,inter;
background: url("images/footer1.png") top left ;
}

footer p{display: flex;
justify-content: CENTER;}

.col:last-child{
  margin-right:0;
}
#watch{
  margin:0em;
  margin-top: 2em;
}


/* Episode page*/


.episodes{
  display:flex;
    align-content:  flex-start;
  flex-wrap: wrap;
  justify-content: space-between;

}

.card{
  width: 270px;
 /*border: solid 1px black;*/
justify-content: space-between;
border-radius: 5px;
margin-bottom: 1.5em;
flex: 0 0 auto;
}

.card img{
  width:96%;
  border:solid 6px #FFF;
}

.card p{
  padding:0 0.5em 0.5em 0.5em;
}

.card h4{
  padding:0em 0.5em 0em;
}
